.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
}

.buttons__button {
    padding: 8px 16px;
    background-color: transparent;
    color: #17a2b8;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.buttons__button:hover {
    color: #138496;
    transform: scale(1.05);
}

.buttons__button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.buttons__button:disabled:hover {
    color: #cccccc;
    transform: none;
}
