.section__button {
    padding: 8px 16px;
    background-color: transparent;
    color: #17a2b8;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.section__button:hover {
    color: #138496;
    transform: scale(1.05);
}

.section__button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.section__button:disabled:hover {
    color: #cccccc;
    transform: none;
}
