html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #e8e8e8;
    margin: 0;
    padding: 20px;
    word-break: break-word;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}
